__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pkl
*.csv
*.zip
*.tar.gz
.scratches/
.idea/
.vscode/
.env
.streamlit/secrets.toml
Containerization/docker_setup_commands.sh
Orchestration/kubernetes_setup_commands.sh
Monitoring/prometheus_setup_commands.sh
Monitoring/grafana_setup_commands.sh
workflow_setup_commands.sh